.generalInput{
    margin: 20px 0;
}

.input {
    padding: 10px;
    border: none;
    background-color: rgb(219, 238, 255);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.addButton {
    padding: 10px;
    border: none;
    background-color: rgb(196, 196, 255);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
